/* <------------------------------ General Structure ------------------------------> */
#about .row {
  padding: 50px 100px;
  box-sizing: border-box;
  align-items: flex-start;
}

.header {
  width: 40%;
  font-size: 5em;
}

.col.header.even {
  margin-left: 50px;
  text-align: right;
  align-items: flex-end;
}

.col.header.odd {
  margin-right: 50px;
  text-align: left;
}

.content {
  width: 60%;
}

.content-text p {
  line-height: 25px;
  margin-bottom: 20px;
  font-size: 16px;
}

.quick-links {
  padding: 10px;
  align-self: flex-end;
  margin: 0 -5px;
}

.quick-links a {
  color: black;
  margin: 0 5px;
}

.quick-links a:hover {
  padding-bottom: 3px;
  border-bottom: 1px solid #468189;
}

#about section.row {
  padding-top: 130px;
  margin-top: -80px;
  border-bottom: 1px solid #EDEDE8;
}

#about img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid black;
  object-fit: cover;
}

.item {
  display: flex;
  margin: 20px 0;
}

.item-text {
  align-self: center;
  margin-left: 25px;
  line-height: 25px;
  font-size: 15px;
}

#work h1, #work h4, #work .quick-links span {
  color: #2774AE;
}

#activities h1, #activities h4, #activities .quick-links span {
  color: #A62639;
}

#education h1, #education h4, #education .quick-links span {
  color: #28532B;
}

#skills h1, #skills h2, #skills .quick-links span {
  color: #71507C;
}

#skills h4 {
  color: black;
}

/* <------------------------------ Skills ------------------------------> */
.skills-section {
  width: 100%;
  margin-top: 15px;
  display: flex;
  justify-content: flex-start;
}

.skills-section .col:first-child {
  margin-right: 50px;
}

.skills-section h2 {
  margin-bottom: 25px;
}

.skills-row {
  display: flex;
  margin: 0px 25px 15px 0;
}

.skills-row h4 {
  margin-left: 10px;
}

.skills-row i {
  color: #FFB300;
  margin-right: 3px;
}

.skills-margin {
   margin-left: 50px;
}

/* <------------------------------ Responsiveness ------------------------------> */
@media screen and (max-width: 1200px) { 
  #about .row {
    padding: 50px;
  }
}

@media screen and (max-width: 1000px) { 
  #about .row.odd {
    flex-direction: column;
  }
  #about .row.even {
    flex-direction: column-reverse;
  }

  .quick-links {
    margin-top: 20px;
  }

  .header, .content {
    width: 100%;
    margin: 0 !important;
  }
}

@media screen and (max-width: 840px) { 
  .item {
    flex-direction: column;
  }

  .item img {
    margin-bottom: 20px;
  }

  .skills-section {
    flex-direction: column;
    margin-top: 15px;
  }

  .skills-section .col:first-child{
    margin-bottom: 10px;
    margin-right: 0;
  }

}




