/* <------------------------------ General Structure ------------------------------> */
#about .row {
  padding: 50px 100px;
  box-sizing: border-box;
  align-items: flex-start;
}

.content-text p {
  line-height: 25px;
  margin-bottom: 20px;
  font-size: 16px;
}

.quick-links {
  padding: 10px;
  align-self: flex-end;
}
  margin: 0 -5px;

.quick-links a {
  color: black;
  margin: 0 5px;
}

.odd .quick-links span {
  color: #00CEFF;
}

.even .quick-links span {
  color: #FF85F6;
}

.odd .quick-links a:hover {
  padding-bottom: 3px;
  border-bottom: 1px solid #FF85F6;
}

.even .quick-links a:hover {
  padding-bottom: 3px;
  border-bottom: 1px solid #00CEFF;
}

#about section.row {
  padding-top: 100px;
  margin-top: -100px;
}

/* <------------------------------ Skills ------------------------------> */
.skills-section {
  width: 100%;
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.skills-section .col:first-child {
  margin-right: 25px;
}

.skills-section h2 {
  margin-bottom: 25px;
}

.skills-row {
  display: flex;
  margin: 0px 25px 15px 0;
}

.skills-row h4 {
  margin-left: 10px;
}

.skills-row i {
  color: #FFB300;
  margin-right: 3px;
}

/* <------------------------------ Responsiveness ------------------------------> */
@media screen and (max-width: 1200px) { 
  #about .row {
    padding: 50px;
  }
}

@media screen and (max-width: 1000px) { 
  #about .row.odd {
    flex-direction: column;
  }
  #about .row.even {
    flex-direction: column-reverse;
  }

  .quick-links {
    margin-top: 20px;
  }

  .header, .content {
    width: 100%;
    margin: 0 !important;
  }

  .skills-section {
    justify-content: flex-start;
  }
}

@media screen and (max-width: 840px) { 
  .item {
    flex-direction: column;
  }

  .item img {
    margin-bottom: 20px;
  }

  .skills-section {
    flex-direction: column;
    margin-top: 15px;
  }

  .skills-section .col:first-child{
    margin-bottom: 10px;
    margin-right: 0;
  }

}




