.background-img {
  width: 30vw;
  height: 30vw;

  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.22);
  background-color:rgba(0, 0, 0, 0.75);
}

#home .row {
  width: 85%;
  margin: auto;
  margin-top: min(20%, 80px);
  margin-bottom: 10px;
}

#home .col {
  justify-content: center;
  max-width: 650px;
  margin-left: 50px;
}

.first-name {
  font-size: 5vw;
}

.second-name {
  font-size: 10vw;
  color: #69A2B0;
}

.intro {
  line-height: 25px;
}

.about-link {
  color: #69A2B0;
  font-weight: bold;
}

@media screen and (max-width: 768px) { 
  #home .row {
    flex-direction: column;
  }
  .background-img {
    width: 50vw;
    height: 50vw;
    margin-bottom: 25px;
  }
}

@media screen and (min-width: 1200px) { 
  #home .row {
    width: 80%;
  }
}
