
#projects.page {
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

#projects .col {
  margin: 25px 0;
  box-sizing: border-box;
  align-items: center;
  border-radius: 10px;
}

#projects .title {
  display: flex;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

#projects a{
  font-size: 30px;
  text-decoration: none;
  color: black;
  margin-left: 10px;
}

#projects img, #projects video{
  width: 400px;
  height: 250px;
  margin-bottom: 25px;
  border-radius: 10px;
  border: 1px solid black;
}

#projects .title a {
  margin-left: 25px;
  font-size: 40px;
}

#projects .description h3,
#projects .description p  {
  margin-bottom: 15px;
}

.gallery {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.description {
  width: 400px;
  font-size: 16px;
  line-height: 30px;
}

@media screen and (max-width: 1000px) { 
  .gallery {
    flex-direction: column;
    width: 450px;
  }

}
