@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* <------------------------------ Reset ------------------------------> */
body {
  margin: 0;
  overflow: auto;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

/* <------------------------------ Navbar ------------------------------> */
.navbar {
  font-family: 'Roboto', serif;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  padding: 20px 50px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shadow-header{
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.22);
}

.navbar .active {
  text-shadow: 1px 0px 0px black;
}

.navbar .unactive:hover {
  opacity: 0.4;
}

.active-contact {
  text-shadow: 1px 0px 0px black;
}

.navbar h2 {
  font-size: 36px;
}

.nav-links {
  display: flex;
  flex-wrap: wrap;
}

.nav-links a {
  font-size: 18px;
  margin-left: 50px;
  border-bottom: 1px solid transparent;
  color: black;
}

@media screen and (max-width: 860px) {
  .nav-links {
    margin: -10px 0 0 30px;
  }

  .nav-links a {
    margin-left: 25px;
    margin-top: 10px;
  }
}

@media screen and (max-width: 556px) {
  div.contact-container, 
  div.page {
    top: 99px;
  }
}

/* <------------------------------ Contact ------------------------------> */
.contact-container {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  overflow-y: scroll;
  top: 82px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 100;
  padding-bottom: 50px;
}

.contact-card {
  max-width: 300px;
  margin: auto;
  margin-bottom: 50px;
  text-align: center;
  background-color: white;

  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.contact-card button {
  border: none;
  outline: 0;
  text-align: center;
  cursor: pointer;
}

.contact-card .btn {
  display: inline-block;
  padding: 8px;
  width: 100%;
  font-size: 18px;
  margin: -1px 0;
  color: white;
  background-color: #000;
}

.contact-card .title {
  color: #69A2B0;
  font-size: 20px;
  margin: 5px 0;
}

.contact-links {
  margin-top: 20px;
}

.contact-card a {
  text-decoration: none;
  font-size: 30px;
  color: black;
}

.contact-container button:hover, 
.a-hover a:hover {
  opacity: 0.7;
}

.resume {
  width: 25px;
  height: 25px;
  object-fit: cover;
}

#contact-info {
  margin-top: 25px;
}

#contact-info .row {
  justify-content: center;
}

#contact-info .row i {
  margin-right: 5px;
}

.show {
  display: block;
}

/* <------------------------------ General ------------------------------> */
.page {
  width: 100%;
  position: relative;
  top: 82px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: 'Roboto', serif;
}

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
